@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html
{
height:100%;
}
.chatIcon {
    width:62;
    float: left;
}

#login
{
margin:auto;
text-align:center;
margin-bottom:5%;
}
p
{
font: 20px Monaco,monospace;
}

.container {
    max-width: 50%;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 25px;
    padding: 10px;
}

.flex-container
{
height:30%;
margin-bottom:10%;
overflow-y: scroll;
}

.darker {
float:right;
    border-color: #ccc;
    background-color: #ddd;
     min-width:32%;
}

.time-left {
    float: left;
    color: #999;
}

.time-right {
    float: right;
    color: #999;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    border-radius: 50%;
}

img.right {
    float: right;
    margin-right:0;
}

#header
{
  padding: 10px 16px;
  background-color: orange;
  margin-bottom: 3%;
  font-size: 2em;
  color: #f1f1f1;
}

h1{
font-family: 'Varela Round', sans-serif;
font-weight: normal;
font-size:2em;
margin: 0;
text-align:center;
color: white;
line-height: 1.4em;
}
#messagefield
{
    float: right;
    width: 25%;
    height: 50px;
    height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}
.btn btn-primary
{
float: right;
}

button {
    font-family: 'Varela Round', sans-serif;
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    position: relative;
}

body{
background: white;
height: 100%;
}

#messagefield {
    border:none;
    height: 200px;
    width: 400px; 
    outline: 2px orange solid;
=======


#containerBody
{
width: 90%;
height: 100%;
margin: auto;
}

#escapeButton
{
width: 100%;}
}