<!DOCTYPE html>

<html>
<script>

window.onscroll = function() {myFunction()};


var header = document.getElementById("header");

var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
 <head>
<link rel="stylesheet" type="text/css" href="homePageDesign.css">
 </head>
  <div id="header" style="background-color: orange">
   <b><div id="title">
       <h1> Health in Mind Chatbot</h1></b>
   </div>
  </div>

<body>
<head>
    <title>This is the chatting room</title>
    <!--CSS Files-->
    <link rel='stylesheet' type='text/css' href='./css/homePageDesign.css'>
</head>
<body>
    <div class="container">
    <img src="./ImageSource/symbolOfCharity.png" class="chatIcon">
    <p> Hello! This is a simulation of bot reply. I will ask you your age, location and situation and provide an output based on the results you give me. </p>
    <span class="time-left">python should get the time</span>
    </div>

    <div class="container darker">
    <img src="./ImageSource/symbolOfCharity.png" class="chatIcon right">
    <p> This is to present bot reply </p>
    <span class="time-right">python should get the time</span>
    </div>

</body>
<form id="userinput" method ="post" url="">

 <div id="usermessage">
  <input type='text' name='message' class="form-control" placeholder="Type your message...">
                              <div class='isend'>
                                <button class='btn btn-primary'>Send</button>
                              </div>
 </div>

</form>


</body>

</html>