@import url('https://fonts.googleapis.com/css?family=Varela+Round');


#header
{
  padding: 10px 16px;
  background-color:rgba(255,255,255, 0.5);
  color: #f1f1f1;
}

h1{
font-family: 'Varela Round', sans-serif;
font-weight: normal;
margin: 0;
color: white;
line-height: 1.4em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}


body{
text-align:center;
background: #f5a83d;
}

#usermessage
{
margin-top:100px;}