<!DOCTYPE html>

<html>
<script>

window.onscroll = function() {myFunction()};


var header = document.getElementById("header");

var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
 <head>
<link rel="stylesheet" type="text/css" href="chatbotstyle.css">
 </head>
  <div id="header" style="background-color: rgba(255, 255, 255, 0.5)">
   <div id="title">
   <h1> Health in Mind Chatbot</h1>
   </div>
  </div>

<body>

<form id="userinput" method ="post" url="">

 <div id="usermessage">
  <input type='text' name='message' class="form-control" placeholder="Type your message...">
                              <div class='isend'>
                                <button class='btn btn-primary'>Send</button>
                              </div>
 </div>

</form>


</body>
<div>

</div>

</html>